/back/.env
/back/node_modules
/back/config.php
/back/src/tests/Unit/vendor
/back/composer.json
/back/composer.lock
/back/composer.lock.json
/back/package-lock.json
/back/package.json
/back/src/tests/Unit/composer.json
/back/composer.lock.json
/back/phpunit.xml
/back/package-lock.json
