/* Ajoutez ce code CSS à votre fichier styles.css */
body {
    background-color: #111a32;
    font-family: Arial, sans-serif;
  }
  
  .block {
    display: flex;
    flex-wrap: wrap; /* Ajoutez cette ligne */
  }
  
  .block > * {
    flex-basis: calc(100% / 5); /* Ajoutez cette ligne */
  }
  
  .global {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  

.modification {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%; /* Assurez-vous que la div de modification occupe toute la largeur */
    padding: 10px;
    width: 50%;
}
/* styles.css */

/* Styles pour le formulaire de modification */
.nom,
.role {
    margin: 1%;
}

.modification-form {
    padding: 10px;
    width: 50%;
    border-radius: 15px;
    background-color: #fff; /* Définissez une couleur de fond pour une meilleure visibilité */
    border: 1px solid #ccc;
}
/* Ajoutez ce CSS à votre fichier styles.css */

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

/* Style spécifique pour les boutons Modifier */
button[name="modification"] {
    background-color: #4caf50; /* Couleur de fond pour le bouton Modifier */
    color: #fff; /* Couleur du texte pour le bouton Modifier */
}

/* Style spécifique pour les boutons Supprimer */
button[name="supprimer"] {
    background-color: #ff3333; 
    color: #fff; 
}

button[name="ValiderNom"], button[name="ValiderRole"] {
    flex-grow: 1; /* Les boutons prennent tout l'espace disponible */
    margin: 5px; /* Ajoutez des marges autour des boutons */
    background-color: #013c7b; /* Couleur de fond pour les boutons Valider */
    color: #fff; /* Couleur du texte pour les boutons Valider */
}

/* Style spécifique pour les boutons Valider */
button[name="Valider"] {
    background-color: #007bff; /* Couleur de fond pour les boutons Valider */
    color: #fff; /* Couleur du texte pour les boutons Valider */
}

button[name="fermer"] {
    background-color: #ccc;
    color: #333;
    border: 1px solid #333;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}