<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true"
    bootstrap="vendor/autoload.php">
    <php>
        <env name="DB_CONNECTION" value="mysql"></env>
        <env name="DB_HOST" value="localhost"></env>
        <env name="DB_DATABASE" value="yugioh_cards"></env>
        <env name="DB_USERNAME" value="user_cardsX"></env>
        <env name="DB_PASSWORD" value="azerty"></env>
        <includePath>./config.php</includePath>
    </php>
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>